<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Matlab</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="45%">
                <div class="skillbar-title"><span>Julia</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">45%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="30%">
                <div class="skillbar-title"><span>NCL</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="10%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">10%</div>
            </div>
            <!-- /.skillbar --> 
        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Model Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>CESM2</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="50%">
                <div class="skillbar-title"><span>MITgcm</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->
            
		</div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Badminton</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>Videos</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
        </div>
        
        
    
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Postdoc <span class="duration"><i class="fa fa-calendar color"></i> 2024 - present</span></h5>
                <h6><span class="fa fa-briefcase"></span> Massachusetts Institute of Technology</h6>
                <p>Focus on mode waters, working with Gaël Forget in Mick Follow's group.</p>
            </li>
           <li>
                <h5>Visiting Postdoc <span class="duration"><i class="fa fa-calendar color"></i> Dec 2023 - Feb 2024</span></h5>
                <h6><span class="fa fa-briefcase"></span> National Center for Atmosphere Research</h6>
                <p>Investigated Southern Ocean temperature change, working with Aixue Hu in Mesa Lab.</p>
            </li>
            <li>
                <h5>Postdoc <span class="duration"><i class="fa fa-calendar color"></i> 2022 - 2024</span></h5>
                <h6><span class="fa fa-briefcase"></span> Institute of Oceanology, Chinese Academy of Sciences</h6>
                <p>Investigated zonal asymmetry of Southern Ocean temperature change, working with Yuanlong Li in Fan Wang's group.</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Doctor of Meteorology <span class="duration"><i class="fa fa-calendar color"></i> 2017 - 2022</span></h5>
                <h6><span class="fa fa-book"></span> University of Chinese Academy of Sciences</h6>
                <p>Examined impacts of Ural blocking on Eurasian temperature, supervised by Dehai Luo and Yao Yao.</p>
            </li>
            <li>
                <h5>Bachelor of Atmosphere <span class="duration"><i class="fa fa-calendar color"></i> 2013 - 2017</span></h5>
                <h6><span class="fa fa-book"></span> Ocean University of China</h6>
                <p>I gained knowledge in both atmospheric and ocean sciences at OUC, advised by Jilin Sun.</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Publications</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        

        <ul>
       	    <li class="clearfix">
                <img src="images/publications/NC.png" class="img_reference" width="100" height="100" alt="">
                <p>Y. Song, Y. Li, G. Forget, A. Hu, Q. Li, J. Shi, X. Chen, K. Ge, and F. Wang, (Submitted to NC; under review). Inter-basin contrast in the Southern Ocean warming.</p>
            </li>
            <li class="clearfix">
                <img src="images/publications/2024JC.png" class="img_reference" width="100" height="100" alt="">
                <p>Y. Song, Y. Li, A. Hu, L. Cheng, G. Forget, X. Chen, J. Duan, and F. Wang, (2024). Decadal Thermal Variability of the Upper Southern Ocean: Zonal Asymmetry. J. Climate,  37, 3117–3132,  doi: 10.1175/JCLI-D-23-0649.1.</p>
            </li>
            <li class="clearfix">
                <img src="images/publications/2023AR.png" class="img_reference" width="100" height="100" alt="">
                <p>Y. Song, Y. Yao, D. Luo, Y. Li (2023). Loss of autumn Kara-East Siberian Sea ice intensifies winter Ural blocking and cold anomalies in high latitudes of Eurasia. Atmospheric Research. doi: 10.1016/j.atmosres.2023.107038</p>
            </li>
            <li class="clearfix">
                <img src="images/publications/2022CDSong.png" class="img_reference" width="100" height="100" alt="">
                <p>Y. Song, D. Luo, F. Zheng, Y. Yao (2022). Impact of Ural blocking on sub-seasonal Siberian cold anomalies modulated by the winter East Asian trough. Climate Dynamics. doi: 10.1007/s00382-021-05959-7.</p>
            </li>
            <li class="clearfix">
                <img src="images/publications/2022CDChen.png" class="img_reference" width="100" height="100" alt="">
                <p>X. Chen, Z. Wen, Y. Song, Y. Guo (2022). Causes of extreme 2020 Meiyu‑Baiu rainfall: a study of combined effect of Indian Ocean and Arctic. Climate Dynamics. doi: 10.1007/s00382-022-06279-0.</p>
            </li>
            <li class="clearfix">
                <img src="images/publications/2021GRL.png" class="img_reference" width="100" height="100" alt="">
                <p>X. Chen, A. Dai, Z. Wen, Y. Song (2021). Contributions of Arctic Sea-Ice Loss and East Siberian Atmospheric Blocking to 2020 Record-Breaking Meiyu-Baiu Rainfall. Geophysical Research Letters. doi: 10.1029/2021GL092748.</p>
            </li>		
        </ul>
	
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Conferences</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        

        <ul>
            <li class="clearfix">
                <img src="images/conferences/202412AGU.png" class="img_reference" width="100" height="100" alt="">
                <p>Dec 2024  AGU Fall Meeting in Washington DC
			, Oral & Poster</p>
            </li>
            <li class="clearfix">
                <img src="images/conferences/202410ECCO.png" class="img_reference" width="100" height="100" alt="">
                <p>Oct 2024  ECCO Hackweek at Caltech</p>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>Jun 2024  Polar Sea Ice And Climate Change Seminar in Qingdao, Invited talk</p>
            </li>
            <li class="clearfix">
                <img src="images/conferences/202402OSM.png" class="img_reference" width="100" height="100" alt="">
                <p>Feb 2024  Ocean Scicence Meeting in New Orleands, Poster</p>
            </li>
            <li class="clearfix">
                <img src="images/conferences/202312AGU.png" class="img_reference" width="100" height="100" alt="">
                <p>Dec 2023  AGU Fall Meeting in San Francisco, Poster</p>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>Nov 2023  Polar Climate Change Under Global Warming Seminar in Qingdao, Invited talk</p>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>Oct 2023  The 7th Conference on Nonlinear Atmosphere-Ocean Sciences in Chongqing, Poster</p>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>Aug 2023  Asia Oceania Geosciences Society in Singapore, Poster</p>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>Jul 2023  The 7th Conference on Earth System Science in Shanghai, Poster</p>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>Apr 2023  The 5th Congress of China Geodesy and Geophysics in Wuhan, Oral</p>
            </li>
        </ul>
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Leadership</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        

        <ul>
            <li class="clearfix">
                <img src="images/bg/bg1.png" class="img_reference" width="100" height="100" alt="">
                <p>Leader of China Group on Climate Change and Sustainability (44 members; $2000): This group aims to build a community of Chinese climate scholars in MIT and provide a platform for enhanced communication and collaboration on climate change research. To date, we've organized 3 featured activities: Barbecue in Conchituate State Park with 16 participants, Brain Storm session with 19 participants, and AGU practice seminar with 18 participants.</p>
            </li>
		
        </ul>
	
</div>
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->
